## 1. Welcome to the world of data science
<p>Throughout the world of data science, there are many languages and tools that can be used to complete a given task. While you are often able to use whichever tool you prefer, it is often important for analysts to work with similar platforms so that they can share their code with one another. Learning what professionals in the data science industry use while at work can help you gain a better understanding of things that you may be asked to do in the future. </p>
<p>In this project, we are going to find out what tools and languages professionals use in their day-to-day work. Our data comes from the <a href="https://www.kaggle.com/kaggle/kaggle-survey-2017?utm_medium=partner&utm_source=datacamp.com&utm_campaign=ml+survey+case+study">Kaggle Data Science Survey</a> which includes responses from over 10,000 people that write code to analyze data in their daily work. </p>

In [262]:
# Load necessary packages
library('tidyverse')

# Load the data
responses <- read_csv('datasets/kagglesurvey.csv')

# Print the first 10 rows
head(responses,10)

Parsed with column specification:
cols(
  Respondent = col_double(),
  WorkToolsSelect = col_character(),
  LanguageRecommendationSelect = col_character(),
  EmployerIndustry = col_character(),
  WorkAlgorithmsSelect = col_character()
)

   Respondent
1   1
2   2
3   3
4   4
5   5
6   6
7   7
8   8
9   9
10 10
   WorkToolsSelect
1  Amazon Web services,Oracle Data Mining/ Oracle R Enterprise,Perl
2  Amazon Machine Learning,Amazon Web services,Cloudera,Hadoop/Hive/Pig,Impala,Java,Mathematica,MATLAB/Octave,Microsoft Excel Data Mining,Microsoft SQL Server Data Mining,NoSQL,Python,R,SAS Base,SAS JMP,SQL,Tableau
3  C/C++,Jupyter notebooks,MATLAB/Octave,Python,R,TensorFlow
4  Jupyter notebooks,Python,SQL,TensorFlow
5  C/C++,Cloudera,Hadoop/Hive/Pig,Java,NoSQL,R,Unix shell / awk
6  SQL
7  Jupyter notebooks,NoSQL,Python,R,SQL,Unix shell / awk
8  Python,Spark / MLlib,Tableau,TensorFlow,Other
9  Jupyter notebooks,MATLAB/Octave,Python,SAS Base,SQL
10 C/C++,IBM Cognos,MATLAB/Octave,Microsoft Excel Data Mining,Microsoft R Server (Formerly Revolution Analytics),Microsoft SQL Server Data Mining,Perl,Python,R,SQL,Unix shell / awk
   LanguageRecommendationSelect EmployerIndustry
1  F#                           Internet-based
2  Python                       Mix of fields
3  Python                       Technology
4  Python                       Academic
5  R                            Government
6  Python                       Non-profit
7  Python                       Internet-based
8  Python                       Mix of fields
9  Python                       Financial
10 R                            Technology
   WorkAlgorithmsSelect
1  Neural Networks,Random Forests,RNNs
2  Bayesian Techniques,Decision Trees,Random Forests,Regression/Logistic Regression
3  Bayesian Techniques,CNNs,Ensemble Methods,Neural Networks,Regression/Logistic Regression,SVMs
4  Bayesian Techniques,CNNs,Decision Trees,Gradient Boosted Machines,Neural Networks,Random Forests,Regression/Logistic Regression
5  NA
6  NA
7  CNNs,Decision Trees,Gradient Boosted Machines,Random Forests,Regression/Logistic Regression,SVMs
8  Bayesian Techniques,CNNs,HMMs,Neural Networks,Random Forests,Regression/Logistic Regression,SVMs
9  Ensemble Methods,Gradient Boosted Machines
10 Bayesian Techniques,Regression/Logistic Regression

## 2. Using multiple tools
<p>Now that we have loaded in the survey results, we want to focus on the tools and languages that the survey respondents use at work.</p>
<p>To get a better idea of how the data are formatted, we will look at the first respondent's tool-use and see that this survey-taker listed multiple tools that are each separated by a comma. To learn how many people use each tool, we need to separate out all of the tools used by each individual. There are several ways to complete this task, but we will use <code>str_split()</code> from <code>stringr</code> to separate the tools at each comma. Since that will create a list inside of the data frame, we can use the <code>tidyr</code> function <code>unnest()</code> to separate each list item into a new row.</p>

In [ ]:
# Print the first respondent's tools and languages
responses['WorkToolsSelect']

tools<-responses %>%
  unnest(work_tools = strsplit(WorkToolsSelect, ","))
tools

      WorkToolsSelect
1     Amazon Web services,Oracle Data Mining/ Oracle R Enterprise,Perl
2     Amazon Machine Learning,Amazon Web services,Cloudera,Hadoop/Hive/Pig,Impala,Java,Mathematica,MATLAB/Octave,Microsoft Excel Data Mining,Microsoft SQL Server Data Mining,NoSQL,Python,R,SAS Base,SAS JMP,SQL,Tableau
3     C/C++,Jupyter notebooks,MATLAB/Octave,Python,R,TensorFlow
4     Jupyter notebooks,Python,SQL,TensorFlow
5     C/C++,Cloudera,Hadoop/Hive/Pig,Java,NoSQL,R,Unix shell / awk
6     SQL
7     Jupyter notebooks,NoSQL,Python,R,SQL,Unix shell / awk
8     Python,Spark / MLlib,Tableau,TensorFlow,Other
9     Jupyter notebooks,MATLAB/Octave,Python,SAS Base,SQL
10    C/C++,IBM Cognos,MATLAB/Octave,Microsoft Excel Data Mining,Microsoft R Server (Formerly Revolution Analytics),Microsoft SQL Server Data Mining,Perl,Python,R,SQL,Unix shell / awk
11    C/C++,Jupyter notebooks,Python,TensorFlow
12    MATLAB/Octave,Python
13    C/C++,Java,Jupyter notebooks,MATLAB/Octave,Python,R
14    Amazon Web services,Java,Jupyter notebooks,MATLAB/Octave,Microsoft Excel Data Mining,SAS Enterprise Miner,Spark / MLlib
15    Hadoop/Hive/Pig,Java,Jupyter notebooks,NoSQL,Python,R,Spark / MLlib,SQL
16    IBM Cognos,NoSQL,Unix shell / awk
17    Cloudera,Flume,Hadoop/Hive/Pig,Impala,Java,Jupyter notebooks,KNIME (free version),NoSQL,Python,R,SAS Enterprise Miner,Spark / MLlib,SQL
18    C/C++,Cloudera,Hadoop/Hive/Pig,Impala,Jupyter notebooks,NoSQL,Python,R,Spark / MLlib,Unix shell / awk,Other
19    Python,R,SQL
20    NoSQL,Perl,Python,Other
21    MATLAB/Octave,Python,R,Unix shell / awk,Other
22    C/C++,Jupyter notebooks,Python,TensorFlow,Unix shell / awk
23    MATLAB/Octave,Python,R,SAS JMP,SQL,TIBCO Spotfire
24    C/C++,Jupyter notebooks,MATLAB/Octave,Python,TensorFlow
25    NA
26    Python
27    Amazon Web services,Hadoop/Hive/Pig,Julia,Jupyter notebooks,R,SAS Base,SAS Enterprise Miner,SQL,Unix shell / awk
28    Amazon Web services,Python,R,SAP BusinessObjects Predictive Analytics,Unix shell / awk
29    Jupyter notebooks,Python,R,SQL
30    Julia,Jupyter notebooks,Python,R,SQL,TensorFlow
...   ...
10124 IBM SPSS Statistics,R
10125 Python
10126 NA
10127 NA
10128 C/C++,Python,Spark / MLlib,TensorFlow,Unix shell / awk
10129 NA
10130 NA
10131 NA
10132 NA
10133 NA
10134 NA
10135 NA
10136 Jupyter notebooks,Microsoft Excel Data Mining,Python,QlikView,R,SQL,Tableau
10137 Java,Python,R
10138 Amazon Web services,Cloudera,Python,Spark / MLlib,Tableau
10139 Jupyter notebooks,NoSQL,Python,R,SQL,TensorFlow
10140 Microsoft Excel Data Mining,Python,SQL
10141 IBM SPSS Statistics,R,SAS Base,SQL,Tableau
10142 Amazon Machine Learning,Amazon Web services,C/C++,Java,NoSQL,Python,R,SQL
10143 NA
10144 NA
10145 NA
10146 IBM SPSS Modeler,Python,SAS Base,SAS Enterprise Miner,SQL
10147 Microsoft Azure Machine Learning,Microsoft Excel Data Mining,Microsoft SQL Server Data Mining,R
10148 R,SQL
10149 NA
10150 C/C++,Hadoop/Hive/Pig,Java,Julia,Orange,Perl,R,Salfrod Systems CART/MARS/TreeNet/RF/SPM,Spark / MLlib,SQL,Stan,TensorFlow,TIBCO Spotfire,Unix shell / awk
10151 NA
10152 NA
10153 Python

Warning message:
"unnest() has a new interface. See ?unnest for details.
Try `df %>% unnest(c(work_tools))`, with `mutate()` if needed"

## 3. Counting users of each tool
<p>Now that we've split apart all of the tools used by each respondent, we can figure out which tools are the most popular.</p>

In [ ]:
# Group the data by work_tools, summarise the counts, and arrange in descending order
tool_count <- tools  %>% 
    group_by(work_tools)  %>% 
    summarise(n=n()) %>%
arrange(desc(n))


# Print the first 6 results
head(tool_count,6)

## 4. Plotting the most popular tools
<p>Let's see how the most popular tools stack up against the rest.</p>

In [ ]:
ggplot(data=tool_count, aes(x=fct_reorder(work_tools,n),y=n)) + 
geom_bar(stat="identity") +
    theme(axis.text.x = element_text(angle = 90)) + xlab("work_tools") +# for the x axis label
ylab("tool_count") # for the y axis label

## 5. The R vs Python debate
<p>Within the field of data science, there is a lot of debate among professionals about whether R or Python should reign supreme. You can see from our last figure that R and Python are the two most commonly used languages, but it's possible that many respondents use both R and Python. Let's take a look at how many people use R, Python, and both tools.</p>

In [ ]:
# Create a new column called language preference
debate_tools <- responses  %>% 
   mutate(language_preference = case_when(grepl( 'R' ,WorkToolsSelect) & grepl( 'Python' ,WorkToolsSelect)~'both',
       grepl( 'R' ,WorkToolsSelect)~'R',
        grepl( 'Python' ,WorkToolsSelect)~'Python',
        ! grepl( 'R' ,WorkToolsSelect) & ! grepl( 'Python' ,WorkToolsSelect)~'neither'
))
# Print the first 6 rows
head(debate_tools,6)

## 6. Plotting R vs Python users
<p>Now we just need to take a closer look at how many respondents use R, Python, and both!</p>

In [ ]:
# Group by language preference, calculate number of responses, and remove "neither"
debate_plot <- debate_tools  %>% 
   group_by(language_preference)  %>% 
   summarise(n=n())  %>% 
    filter(language_preference != "neither")

# Create a bar chart

ggplot(data=debate_plot,aes(x=language_preference , y=n)) + 
geom_bar(stat="identity") +
     xlab("language_preference") +# for the x axis label
ylab("Count")

## 7. Language recommendations
<p>It looks like the largest group of professionals program in both Python and R. But what happens when they are asked which language they recommend to new learners? Do R lovers always recommend R?</p>

In [ ]:
# Group by, summarise, arrange, mutate, and filter
recommendations <- debate_tools  %>% 
    group_by(language_preference,LanguageRecommendationSelect)  %>% 
    summarise(count = n()) %>%
    arrange(desc(count)) %>%
    filter(row_number() <= 4)
    

recommendations

## 8. The most recommended language by the language used
<p>Just one thing left. Let's graphically determine which languages are most recommended based on the language that a person uses.</p>

In [ ]:
# Create a faceted bar plot
ggplot(recommendations, aes(x=LanguageRecommendationSelect,y=count)) +
    geom_bar(stat='identity')+
    facet_wrap(~language_preference)

## 9. The moral of the story
<p>So we've made it to the end. We've found that Python is the most popular language used among Kaggle data scientists, but R users aren't far behind. And while Python users may highly recommend that new learners learn Python, would R users find the following statement <code>TRUE</code> or <code>FALSE</code>? </p>

In [ ]:
# Would R users find this statement TRUE or FALSE?
R_is_number_one = TRUE